@each $num, $color in $base {
  .base#{$num} {
    color: $color;
  }
}

@function drawPalette($colors) {
  $length: length($colors);
  $color-stops: append((), nth($colors, 1), comma);
  $stop-size: 100 / $length;

  @for $i from 1 through $length {
    $color: nth($colors, $i);

    @if $i > 1 {
      $color-stops: append($color-stops, $color $stop-size * ($i - 1) * 1%);
    }

    $color-stops: append($color-stops, $color $stop-size * $i * 1%);
  }
  @return linear-gradient(to right, $color-stops);
}
