@import 'colours';

.homepage {
  @include breakpointMd {
    margin-bottom: 2rem;
  }

  h1 {
    &.site-title {
      @include breakpointMd {
        font-size: 3em;
      }
      color: base('0c');
      font-size: 5em;
      text-align: center;
    }

    &.headline {
      @include breakpointMd {
        @include padding($left: 2rem, $right: 2rem);
      }
      color: base('0a');
      font-size: 3em;
    }
  }

  .hero-logo {
    background: drawPalette(map-values($base));
    height: 3em;
    margin: 1em 0;
  }

  section {
    &.categories,
    &.tags {
      @include padding($left: 2rem, $right: 2rem);
    }
  }

  .category {
    color: base('0e');

    a {
      color: base('0e');
    }
  }

  .tag {
    color: base('0e');
    margin-right: 2em;

    a {
      color: base('0e');
    }
  }
}
