p {
  margin-bottom: 1rem;
  margin-top: 0;
}

@each $prop, $font-size in ('h1': 2rem, 'h2': 1.5rem, 'h3': 1.25rem, 'h4': 1rem, 'h5': 0.875rem, 'h6': 0.75rem) {
  #{$prop} {
    @include margin($bottom: 0.5em, $top: 1em);
    font-size: $font-size;
    font-weight: bold;
    line-height: 1.25;
  }
}

pre,
code {
  font-family: inherit;
  font-size: inherit;
}
